@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* *::after *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVSTYLE */

nav{
    background-color: #3E396B;
    padding: 10px;
    height: 84px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}
.logo{
    font-family: 'Aganè';
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
}
.list-body{
    display: flex;
}
.list-item{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #D7D6D6;
    position: relative;
    margin: auto 2em;
    cursor: pointer;
}
.list-item::after{
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    transform-origin: center;
    width: 100%;
    background-color: #fff ;
    margin: 1.2em auto; 
    left: 0;
    text-align: center;
    transition:  transform 100ms ease-in;
    border-radius: 5px;
}
.list-item:hover::after{
    transform: scaleX(1);
}
.mobilenav{
    background-color: #3E396B;
    display: none;
    padding-bottom:1em ;
    height: 100vh;
}

.mobileNavItem{
    list-style: none;
    color: white;
    margin-bottom: 1em;
    margin-left: 3em;
}
.burger{
    display: none;
}



@media (max-width:800px){
    .list-body,.buttons{
        display: none;
    }
    .burger{
        display: block;
    }
    .mobilenav{
        display: none;
        transition:  transform display 150ms ease-in;
    }
    .show{
        display: block;
        transform: scaleY(1);
    }
    nav{
        height: 70px;
    }
}



/* HEROSTYLE */
.hero{
    height: 95vh;
    background-size: cover;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5em auto 2em;
    padding: 2em;
}
.sitting-guy{
    width: 100%;
    position: relative;
}
.heroImgDiv{
    width: 1300px;
    text-align: center;
}
.cta-div{
    width: 80%;
}
.hero-text-div{
    width: 100%;
}
.hero-cta{
    width: 500px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: 'Nunito', sans-serif;
}
.hero-text{
    width: 650px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 2;
    font-family: 'Nunito', sans-serif;
}
.button-div{
    margin-top: 2em;
}
.attest-body{
    background-color: #ECECEC;
    padding: 1.5em;
    height: 210px;
}
.attest-flex{
    display: flex;
    width: 60%;
    margin: auto;
    border: 0.5px solid #BCBCBC;
    border-bottom: 0;
}
.attest-flex div{
    text-align: center;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}
.attest-flex div h2{
   font-size: 44px;
   font-weight: 700;
}
.attest-flex div p{
   font-size: 18px;
   font-weight: 400;
}
.attest-hr{
    height: 50px;
    margin-top: 2em;
}
hr{
    border: .5px solid #BCBCBC;
}

@media (max-width:1100px){
    .attest-flex div h2{
        font-size: 30px;
        font-weight: 700;
     }
}             
                
@media (max-width:900px){
    .hero{
        height: auto;
    }
    .hero-content{
        display: block;
        margin-top: 0;
        padding: 0;
    }
  
    .sitting-guy{
        width: 50%;
    }
    .hero-cta{
        font-size: 30px;
        margin-top: 2em;
        margin-left: 2em;
    }
    .hero-text{
        font-size: 14px;
        margin-left: 4em;
    }
    .getStarted{
        margin-left: 4em;
    }
    .attest-flex{
        width: 80%;
    }
  
}



@media (max-width:700px){
    .hero-content{
        display: block;
        margin-top: 0;
        padding: 0;
    }
    .attest-flex{
        width: 75%;
    }
    .hero-text-div{
        margin:  auto;
    }
    .heroImgDiv{
        width: 100%;
        max-width: 100%;

    }
    .cta-div,.hero-cta,.hero-text{
        margin: auto;
    }
    .hero-cta,.hero-text{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1em;
    }
    .button-div{
        text-align: center;
        margin: 2em auto;
    }
    .hero-text{
        font-weight: 400;
        font-size: .8rem;
        letter-spacing: 0;
        line-height: 1.3;
    }
    .attest-flex div h2{
        font-size: 20px;
    }
    .attest-flex div p{
        font-size: 14px;
    }
    .attest-body{
        height: auto;
    }
    .hero-cta{
        font-size: 30px;
    }
    .hero{
        padding-top: 2em;
    }
    .sitting-guy{
        margin: auto;
    }
    .getStarted{
        margin: 1em auto;
    }
}
@media (max-width:500px){
    .sitting-guy{
        width: 60%;
        margin: auto;
    }
    .attest-flex{
        width: 98%;
    }
    .hero-text{
        font-weight: 400;
        font-size: .8rem;
        letter-spacing: 0;
        line-height: 1.3;
    }
    .attest-flex div h2{
        font-size: 20px;
    }
    .attest-flex div p{
        font-size: 14px;
    }
    .hero-text-div{
        width: 98%;
    }
    .hero-content{
        padding: 1em 0;
        width: 100%;
    }
    .cta-div{
        width: 95%;
    }
    .hero-cta{
        margin-top: 0;
        width: 98%;
        font-size: 1.5rem;
    }
    .button-div{
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }
    .attest-flex{
        border: 0;
    }
}

/* SERVICE SERCTION */
.service-section{
    margin: 0em auto 0em;
    width: 95%;
    color:  #3A3A3A;
    overflow-x: hidden;
}
.services-header{
    margin:1em auto;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0em;
}

.serveices-text-header{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.services-text div p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 70%;
}

.flex-section,.flex-section-2{
    display: flex; 
    justify-content: space-evenly;
    margin-top: 3em;
}

.networks-img-div{
    width: 40%;
    background-color: #F5F5F5;
    padding: 1em;
    text-align: center;
    margin: auto 0;
}
.networks-div{
    margin: auto;
}
.services-text{
    width: 43%;
    margin-left: 3em;
}
.services-text div:nth-child(1),
.services-text div:nth-child(2){
    border-bottom: 1px solid #3A3A3A;
    width: 65%;
}

.logo-item{
    max-width: 100%;
}

.logos-div img{
    max-width: 100%;
}

.service-two-div{
    margin:7em auto 10em;
}
.service-2-text-header{
    width: 70%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
}
.service-two-text div p{
    width: 95%;
    margin-top: 1em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.service-two-text{
    width: 40%;
    position: relative;
}
.push{
    width: 100%;
    float: right;
}

.second{
    width: 100%;
}


@media (max-width:1200px){
    .services-text{
        width: 53%;
        margin-left: 3em;
    }
    .service-two-text{
        width: 50%;
        position: relative;
    }
    .second{
        width: 100%;
    }
}
@media (max-width:1000px){
    .services-text{
        margin-left: 3em;
    }
    .services-text div:nth-child(1),
    .services-text div:nth-child(2){
    border-bottom: 1px solid #3A3A3A;
    width: 85%;
    }
    .push{
        float: none;
        width: 90%;
    }
    .service-two-text{
        width: 90%;
        position: relative;
    }
    .service-2-text-header{
        width: 80%;
    }
    .second{
        width: 90%;
    }
}

@media (max-width:700px){
    .service-section{
        margin:  2em auto;
    }
    .flex-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .flex-section-2{
        display: block;
    }
    .networks-img-div{
        width: 95%;
        margin-bottom: 2em;
        margin: auto;
    }
    .networks-div,.logos-div,.logo-div{
        width: 50%;
    }
    .services-header{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 1em;
    }
    .services-text{
        width: 90%;
        margin: 0em auto 2em;
    }
    .serveices-text-header,.service-2-text-header{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .service-2-text-header{
        font-size: 20px;
        font-weight: 400;
    }
    .services-text div{
        margin: auto;
        text-align: center;
    }
    .services-text div p,.service-two-text div p,
    .location p,.footer-list-item,
    .copyright p{
        font-size: 14px;
        margin: 10px auto;
    }
    .logos-div{
        margin: auto;
    }
    .service-2-text-header{
        text-align: center;
        margin: auto;
    }
    .service-two-text{
        margin: 1em auto 0em;
        text-align: center;
    }
    .services-text div:nth-child(1),
    .services-text div:nth-child(2){
        margin-bottom: 1em;
    }
    .push{
        margin: auto;
    }
    .service-two-div{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}


/* SCROLLER */
.scroller-div{
    display: flex;
    overflow-x: hidden;
}
.scroller-div div{
    text-align: center;
}
.scroller-img-text{
    font-weight: 500;
    margin: auto;
}
.scroller-div div img{
    width: 95%;
    height: 242.37px;
}
.image-text-body{
    background-color: #3E396B;
    color: #fff;
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 76px;
    display: flex;
    align-items: center;
}
.image-text-body p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.carousel-shell{
    width: 95%;
    margin: auto;
}
.carousel-img{
    width: 90%;
}
.mobile-carousel{
    display: none;
}

@media (max-width:700px){
    .mobile-carousel{
        display: block;
    }
    .carousel-img{
        width: 100%;
    }
    .carousel-shell{
        width: 100%;
    }
    .scroller-div{
        display: none;
    }
    .image-text-body{  
        width: 100%;
    }
    .image-text-body p{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}

/* MISSION */
.mission-container{
    max-width: 100%;
    background-size: cover;
    margin-top: 5em;
    height: 721px;
}
.circle-container{
    width: 50%;
    padding: 4em 0;
    position: relative;
    width: 700px;
}
.circle{
    position: absolute;
    width: 680px;
    height: 680px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 4em;
    background-color: #3E396B;
    opacity: .4;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 7em;  
}

.circle-section{
    margin-top: 10em;
}
.circle p{
    color: white;
    letter-spacing: 1.2;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    width: 60%;
    margin: 2em auto;
    text-align: justify;
}
.circle h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

/* FORM */
.form-section{
    display: flex;
    margin: 3em auto;
    padding: 2em;
    width: 90%;
    justify-content: space-between;
}
.form-contact{
    background-size: cover;
    margin-top: 2em;
    margin-bottom: 5em;
}
.form-div{
    background-color: #3E396B;
    width: 680px;
    height: 715px;
    padding-bottom: 1em;
    border-radius: 5px;
}
::placeholder{
    font-style: normal;
    font-size: 14px;
}
form{
   text-align: center;
}
.form-div h3{
    margin: 1em auto;
    text-align: center;
    color: white;
    font-size: 30px;
}
input.form-input,textarea{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    width: 85%;
    height: 76px;
    margin: auto;
}
.submit-form{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 198px;
    height: 76px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #554E90;
    float: left;
    margin-left: 2.5em;
    cursor: pointer;
}
.contact-div{
    margin: auto 0;
}
.contact-div h3{
    margin: auto;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.location{
    display: flex;
    align-items: center;
    width: 70%;
    margin : 1em auto;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.phone{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin : 3em auto;
}
.phone div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.icon{
    margin-right: 5px;
}

@media (max-width:1000px){
    .form-div h3{
        font-size: 18px;
    }
}

@media (max-width:1000px){
    .circle{
        position: absolute;
        width: 400px;
        height: 400px;
        right: 21em;  
    }
    .mission-container{
        height: 500px;
    }
    .circle p{
        letter-spacing: 1.2;
        font-weight: 400;
        font-size: 20px;
        width: 65%;
        margin: 2em auto;
        text-align: justify;
    }
    .circle h3{
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 30px;
    }
}

@media (max-width:1200px){
    .form-div{
        background-color: #3E396B;
        width: 680px;
        height: 550px;
        padding-bottom: 1em;
        border-radius: 5px;
    }
    .submit-form{
        height: auto;
        width: 25%;
    }
    input.form-input,textarea{
        height: auto;
    }
}

@media (max-width:1000px){
    ::placeholder{
        font-size: 16px;
    }
    .submit-form{
        font-size: 16px;
        font-weight: 500;
    }
    .contact-div h3{
        font-size: 28px;
    }
    .location,.phone{
        font-size: 14px;
    }
    .phone{
        display: block;
    }
    .phone div{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .contact-numbers{
        margin: 10px 0;
    }
  
}

@media (max-width:700px){
    .form-section{
        display: flex;
        flex-direction: column-reverse;
        margin: 3em auto;
        width: 100%;
    }
    .form-contact{
        margin-bottom: 0;
    }
    .form-contact{
        margin-top: 1em;
    }
    .location,.phone{
        font-size: 14px;
        margin: 10px auto;
    }

    ::placeholder{
        font-size: 12px;
    }

    .form-div{
        width: 92%;
        height: auto;
        margin: auto;
    }
    .form-div h3{
        font-weight: 400px;
        font-size: 15px;
    }
    input,textarea{
        padding: 5px;
        border-radius: 2px;
    }
    .circle{
        width: 300px;
        height: 300px;
        right: 28em;  
    }
    .mission-container{
        height: 400px;
    }
    .circle-section{
        margin-top: 1em;
    }
    .circle p{
        letter-spacing: 1.2;
        font-weight: 400;
        font-size: 16px;
        width: 85%;
        margin: 2em auto;
        text-align: center;
    }
    .circle h3{
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
    }
    .contact-div{
        margin-bottom: 1em;
    }

}
@media (max-width:500px){
    .form-div{
        width: 100%;
    }
    input,textarea{
        padding: 3px;
        border-radius: 2px;
    }
    .form-div h3{
        font-weight: 400px;
        font-size: 15px;
    }
    .form-div h3{
        font-size: 1rem;
    }
    .contact-div{
        margin-bottom: 1em;
    }
}

/* FOOTER */
footer{
    background-color:  #3E396B;
    color: #fff;
    padding: 3em;
}
.one{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 1.2em;
}
.footer-list-item{
    list-style: none;
    margin:1em auto;
    width: 110px;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.footer-list-header{
    font-weight: 600;
    margin-top: 2em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.copyright{
    text-align: center;
    margin: 2em auto 0em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #F2F2F2;
}
.icons{
    display: flex;
    justify-content: space-between;
}
@media (max-width:700px){
    .footer-flex{
        display: block;
    }
    .footer-list-item{
        margin: 1em 0em;
        width: auto;
        font-size: 14px;
    }
    .one{
        font-size: 20px;
    }
    .footer-list-header{
        text-align: left;
        width: auto;
        font-size: 16px;
    }
    .icons{
        width: 35%;
    }
}